  .container {
    padding: 40px;
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 100px;
  }

  .actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgcards{
    border-radius: 50px;
    width: 300px;
    align-items: center;
    justify-content: center;
  }

  .recipecards{
    border-radius: 50px;
    width: 400px;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  .mat-mdc-raised-button.mat-unthemed {
    background-color: #e06b43; /* Color que combina con el gradiente */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .mat-mdc-raised-button.mat-unthemed:hover {
    background-color: #f28b45; /* Cambio de color al pasar el ratón */
  }
