<div class="container responsive-grid">
 <mat-card class="recipecards" *ngFor="let card of recipesCards">

    <!-- TITULO -->
    <mat-card-header>
      <mat-card-title>{{ card.name }} </mat-card-title>
    </mat-card-header>
    <br>
    <!-- IMAGEN -->
    <img class="imgcards" mat-card-image [src]="card.image" loading="lazy" />


    <mat-card-content>
      <br />

      <p>
        <b>Tiempo de Preparacion: </b>
        {{ card.time }}
      </p>

    </mat-card-content>

    <mat-card-actions class="actions-container">
      <button mat-raised-button class="button-purple" (click)="ViewDetails(card)" >Ver detalle</button>
    </mat-card-actions>
    <br />
  </mat-card>
</div>
