<main class="register">
  <div>
      <div>
          <form [formGroup]="form1">
              <mat-tab-group (selectedTabChange)="onTabChange($event)">
              <mat-tab label="Soy Estudiante"></mat-tab>
              <mat-tab label="Soy Chef"></mat-tab>
              </mat-tab-group>
              <div>
                  <h1>Registrarse</h1>
              </div>
              <div>
                  <input type="text" required placeholder="Nombre"/>
              </div>
              <div>
                  <input type="text" required placeholder="Apellido" />
              </div>
              <div>
                  <input type="email" required placeholder="Email" />
              </div>
              <div>
                  <input type="password" required placeholder="Contraseña" />
              </div>
              <div>
                  <input type="text" required placeholder="Dni" />
              </div>
              <div>
                  <label>Fecha de nacimiento</label>
                  <input type="date" required />
              </div>
              <div>
                  <label>Sexo</label>
                  <label><input type="radio" name="gender" value="masculino" required>Masculino</label>
                  <label><input type="radio" name="gender" value="femenino" required>Femenino</label>
              </div>
              <div>
                  <label>Número de contacto</label>
                  <input type="tel" required />
              </div>
              <div>
                  <label>
                      <input type="checkbox" required>
                      He leído y estoy de acuerdo con las
                      <a href="#" target="_blank">Políticas de privacidad</a>
                  </label>
              </div>
              <div>
                  <button type="submit">Registro</button>
              </div>
          </form>
          <div>
              <p>
                  Volver a
                  <a href="/login">Inicio de sesión</a>
              </p>
          </div>
      </div>
  </div>
</main>
