footer {
    background-color: #333; /* Cambia el color de fondo según tu paleta de colores */
    color: #fff; /* Cambia el color del texto según tu paleta de colores */
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 14px; /* Tamaño de fuente para el copyright */
}