footer {
    background-color: #333; /* Cambia el color de fondo según tu paleta de colores */
    color: #fff; /* Cambia el color del texto según tu paleta de colores */
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    margin-right: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
}

.social-icons img {
    width: 30px; /* Ajusta el tamaño de los iconos según tus preferencias */
    height: 30px;
}

.copyright {
    font-size: 14px; /* Tamaño de fuente para el copyright */
}