<div class="recipe-total">
    <div class="recipe-details" *ngIf="recipe">
        <div class="recipe-tittle">
            <h2>{{ recipe.name }}</h2>
            <mat-icon>more_vert</mat-icon>
        </div>
        <div *ngIf="authorDetails" class="recipe-author">
          <h3><b>Autor:</b> {{ authorDetails?.firstName }} {{ authorDetails?.lastName }}</h3>
        </div>
        <div class="recipe-content">
          <div>
            <img class="recipe-img" mat-card-image [src]="recipe.image" loading="lazy" />
            <p><b>Tiempo de preparacion:</b> {{ recipe.time }} minutos</p>
            <p><b>Porciones:</b> {{ recipe.servings }} personas</p>
          </div>
          <div class="recipe-extension">
            <b>Ingredientes:</b>
            <ul>
              <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
            </ul>
            <br>
            <b>Preparacion:</b> <br> <p>{{ recipe.preparation }}</p>
          </div>
        </div>
        <div class="actions">
          <button mat-raised-button color="primary" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            Regresar
          </button>

          <button mat-raised-button color="accent" (click)="placeOrder()">
            <mat-icon>shopping_cart</mat-icon>
            Realizar Pedido
          </button>
        </div>
    </div>
</div>
