.recipe-total{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  margin: 0 auto;
}
.recipe-details{
  padding: 20px;
}
.recipe-tittle{
  display: flex;
  color: #FC4E4E;
}

.recipe-author b{
  color: #FC4E4E;
}
.recipe-author h3{
  text-align: center;
  color: #e06b43;
}

.recipe-tittle mat-icon{
  padding-top: 3px;
}

.recipe-content{
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  margin: 0 auto;

}

.recipe-content p{
  text-align: center;
  color: #e06b43;
}
.recipe-content b{
  color: #FC4E4E;
}

.recipe-content img{
  margin-bottom: 20px;
}
img {
  width: auto;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}
.recipe-extension {
  background: bisque;
  padding: 20px ;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.recipe-extension p{
  text-align: justify;
}

.recipe-extension ul{
  padding-left: 20px;
  color: #e06b43;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  margin: 0 10px;
  transition: background-color 0.3s;
}

button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px) {
  .recipe-content {
    flex-direction: column;
    align-items: center;
  }

  .recipe-extension {
    margin-top: 20px; /* Espaciado arriba cuando está debajo de la imagen */
  }
}
@media screen and (max-width: 600px) {
  img {
    height:150px ;
    margin-bottom: 10px;
  }
}
