<div class="form-container">
    <!-- TITULO DEL DIALOG -->
    <h1 mat-dialog-title>Editar Receta</h1>
    <mat-dialog-content>
      <!-- DESCRIPCION -->
      <p>Ingresa los nuevos datos de tu nueva receta</p>
  
      <form [formGroup]="form" class="form-container-creation">

        <mat-form-field appearance="fill">
          <mat-label>Nombre de la receta</mat-label>
          <mat-icon matPrefix>text_fields</mat-icon>
          <input matInput required formControlName="name" />
          <mat-error>El nombre de la receta es necesario</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Preparacion</mat-label>
          <mat-icon matPrefix>edit_note</mat-icon>
          <textarea matInput required rows="3" formControlName="preparation"></textarea>
          <mat-error>La preparacion de la receta es necesario</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Ingredientes</mat-label>
          <mat-icon matPrefix>edit_note</mat-icon>
          <textarea matInput required rows="3" formControlName="ingredients"></textarea>
          <mat-hint>Separar los ingredientes por comas</mat-hint>
          <mat-error>Los ingredientes de la receta es necesario</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Tiempo de la preparacion</mat-label>
            <mat-icon matPrefix>text_fields</mat-icon>
            <input matInput required formControlName="time" />
            <mat-error>El tiempo de la preparacion es necesario</mat-error>
          </mat-form-field>

        <div class="inputs-container">
          <mat-form-field appearance="fill">
            <mat-label>Porciones</mat-label>
            <input matInput required type="number" formControlName="servings" />
            <mat-error>Ingrese una porcion válida</mat-error>
          </mat-form-field>
  
        </div>
  
        <br/>
  
        <div class="inputs-container">
          <button mat-stroked-button color="primary" (click)="dialogRef.close(false)">
            Cancelar
          </button>
          <button mat-raised-button color="primary" (click)="updateRecipes()" [disabled]="form.invalid">
            Actualizar
          </button>
        </div>
  
        <br/>
      </form>
    </mat-dialog-content>
  </div>
