<div>
    <div class="recipe-details" *ngIf="recipe">
        <div class="recipe-tittle">
            <h2>{{ recipe.name }}</h2>
            <mat-icon>more_vert</mat-icon>
        </div>
        <p> {{getAuthorFullName(recipe.author)}}  </p>
        <div>
            <img class="imgcards" mat-card-image [src]="recipe.image" loading="lazy" />
            <p>Tiempo de preparacion: {{ recipe.time }}</p>
            <p>Porciones: {{ recipe.servings }} personas</p>
        </div>
        <div>
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
            </ul>
            <br>
            <p>Preparacion: <br>{{ recipe.preparation }}</p>
        </div>
    </div>
</div>
