.user-profile {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom, #e06b43, #e97b44, #f28b45, #f99b47, #ffac4a);
}

.profile-header {
  text-align: center;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #333;
}

.profile-details {
  margin-top: 20px;
}

.profile-details h3 {
  color: #FC4E4E;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  font-weight: bold;
}
.submenu-profile{
  color: white;
}
.profile-details p {
  margin: 5px 0;
  color: black;
}
